$primaryColor: darkcyan;
$secondaryColor: darkslategrey;

html {
  font-family: generalFont;
  font-size: 1.2rem;
}

h1 {
  color: $primaryColor;
}

.container {
  &__subtitle {
    color: $secondaryColor;
    display: block;
    height: 300px;
    background: url("../images/webpack.png");
  }
}